/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/SaidaDados/nbproject/private/
/SaidaDados/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/Operadores/nbproject/private/
/calculadoraSwing/nbproject/private/
/TesteOp/nbproject/private/
/TesteOp/build/
/TesteOpTernario/nbproject/private/
/TesteOpTernario/build/
/TesteLogico/nbproject/private/
/TesteLogico/build/
/ParImpar/nbproject/private/
/ParImpar/build/
/ParImpar/dist/
/ParOuImpar/nbproject/private/
/ParOuImpar/build/
/CalculadoraBhaskara/nbproject/private/
/CalculadoraBhaskara/build/
/FiscalDeVoto/nbproject/private/
/FiscalDeVoto/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/CalculadoraFatorial/nbproject/private/
/CalculadoraFatorial/build/
/LoopCondicional/nbproject/private/
/LoopCondicional/build/
/LoopPopup/nbproject/private/
/LoopPopup/build/
/forTeste/nbproject/private/
/TesteFor/nbproject/private/
/TesteFor/build/
/TesteVetor/nbproject/private/
/TesteVetor/build/
/VetorGrafico/nbproject/private/
/VetorGrafico/build/
/.metadata/
